.main {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    margin: auto;
    justify-content: center !important;
    align-items: center;
}

.formWrapper {
    background: rgba(255, 255, 255, 0.2);
    /* Blurry glass effect */
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
}

.newSection {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    font-weight: 500;
}

.registerBtn {
    all: unset;
    background-color: white;
    padding: 6px 12px;
    border-radius: 12px;
    opacity: 1;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
}